extends layout/main
include mixins/videoBlock

block content
   .videos
        h1 Video 
        //- each item in videos
        //-     +videoBlock({
        //-         id:item.id,
        //-         title:item.title,
        //-         description:item.description,
        //-         views:"views: "+item.views,
        //-         videoFile:item.videoFile
        //-     })
            
            
             //- h1= item.title
            //- p= item.description 
            //- span="view:"
            //- span=item.views
